{% extends 'book/base.html' %}

{% block main_area %}

{% if book_list.exists %}
{% for b in book_list %}
<!-- Blog post -->
<div class="card">
    <!-- 블로그 포스트 카드의 그림영역 -->
    {% if b.head_image %}
    <a href="#!">
        <img class="card-img-top" src="{{ b.head_image.url }}" alt="{{ b }} head image">
    </a>
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{ b.id }}/800/200" alt=":random_image">
    {% endif %}
    <!-- 블로그 글의 요약 부분 -->
    <div class="card-body">
        <div class="small text=muted">{{ b.release_date }}</div>
        <h2 class="card-title h4">{{ b.title }}</h2>
        {% if b.hook_text %}
        <h5 class="text-muted">{{ b.hook_text }}</h5>
        {% endif %}
        <p class="card=text">{{ b.content | truncatewords:45 }}</p>
        <a class="btn btn-secondary" href="{{ b.get_absolute_url }}">Read more</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ b.created_at }} by
        <a href="#">{{ b.author | upper }}</a>
    </div>

</div>
{% endfor %}
{% else %}
<h3>아직 게시물이 없습니다</h3>
{% endif %}



<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a> <!-- HTML 이스케이프 문자-->
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>


{% endblock %}