<!Doctype html>
<html lang="kor">
    <head>
        <meta charset="UTF-8">
        <title>도서상세 페이지 입니다</title>
    </head>
    <body>

        <h1>Book</h1>
        <hr/>
        <h2>책 제목:{{ b.title }}</h2>
        <h4>저자: {{ b.book_author}}</h4>
        <h4>출판사: {{ b.publisher}}</h4>
        <h4>가격: {{ b.price}}</h4>
        <h4>출시일: {{ b.release_date}}</h4>
        <h4>등록일: {{ b.created.at }}</h4>
        <h4>수정일: {{ b.updated_at }}</h4>
        <p>책 설명: {{ b.content}}</p>


    </body>
</html>