{% extends 'book/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{ book.title }} - book
{% endblock %}


{% block main_area %}
<!-- Page content-->
<div>
    <div class="row">
        <div id="book-area">
            <!-- Post content-->
            <article>
                <!-- Category -->
                {% if book.category %}
                <span class="badge badge-secondary float-right">{{ book.category }}</span>
                {% else %}
                <span class="badge badge-secondary float-right">미분류 </span>
                {% endif %}

                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ book.title }}</h1>
                    <h5 class="text-muted">{{ book.hook_text }}</h5>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ book.created_at }}</div>
                    <!-- Post categories -->
                    <hr>
                    {% if user.is_authenticated and user == book.author %}
                            <a class="btn btn-info btn-sm float-right" href="/book/update_book/{{ book.pk }}/" role="button">
                                <i class="fas fa-pen"></i> Edit Book
                            </a>
                    {% endif %}
                    <p class="lead">by <a href="#">{{ book.author | upper }}</a></p>


                </header>
                {% if book.head_image %}
                <img class="img-fluid rounded" src="{{ book.head_image.url }}" alt="{{ book.title }}" head_image>
                {% else %}
                <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ book.id }}/800/200" alt="random_image">
                {% endif %}

                <!-- Post content-->
                <section class="mb-5"><p>{{ book.get_content_markdown | safe }}</p></section>

                {% if book.tags.exists %}
                 <i class="fas fa-tags"></i>
                {% for tag in book.tags.iterator %}
                <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                {% endfor %}
                <br/>
                <br/>
                {% endif %}

                {% if book.file_upload %}
                <a href="{{ book.file.upload.url }}" class="btn btn-info" role="button">
                    Download:
                    {% if book.get_file_ext == 'csv' %}
                    <i class="fas fa-file-csv"></i>
                    {% elif book.get_file_ext == 'xlsx' or book.get_file_ext == 'xls' %}
                    <i class="fas fa-file-excel"></i>
                    {% elif book.get_file_ext == 'docx' or book.get_file_ext == 'doc' %}
                    <i class="fas fa-file=word"></i>
                    {% else %}
                    <i class="far fa-file"></i>
                    {% endif %}
                </a>
                {% endif %}




            </article>


            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light" id="review-area">
                    <div class="card-body">
                        <!-- Comment form-->
                        {% if user.is_authenticated %}
                        <form id="review-form" method="POST" action="{{ book.get_absolute_url }}new_review/">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ review_form | crispy }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <br/>
                        {% else %}
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#"
                           data-toggle="modal" data-target="#loginModal">Log in and leave a review</a>
                        {% endif %}

                        <!-- Single comment-->
                        {% if book.review_set.exists %}
                        {% for review in book.review_set.iterator %}
                        <div class="d-flex" id="review-{{ review.pk }}">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="mr-auto">
                                <div class="fw-bold">{{ review.author.username }} &nbsp;&nbsp;
                                    <small class="text-muted">{{ review.created_at }}</small>
                                </div>
                                {{ review.content | linebreaks }}
                            </div>
                                {% if user.is_authenticated and review.author == user %}
                            <div>
                                    <a role ="button" class="btn btn-sm btn-info float-right"
                                        id ="review-{{ review.pk }}-update-btn"
                                        href="/book/update_review/{{ review.pk }}/">
                                        edit
                                    </a>
                                    <a role="button"
                                        href="#"
                                        id="review-{{ review.pk }}-delete-modal-btn"
                                        class="btn btn-sm btn-danger"
                                        data-toggle="modal"
                                        data-target="#deleteReviewModal-{{ review.pk }}">delete</a>
                                {% endif %}
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteReviewModal-{{ review.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteReviewModalLabel" aria-hidden="True">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <del>{{ review | linebreaks }}</del>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a role="button" class="btn btn-danger" href="/book/delete_review/{{ review.pk }}/">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            {% if review.created_at != review.modified_at %}
                            <p class="text-muted text-right"><small>Updated: {{ review.modified_at }}</small></p>
                            {% endif %}
                        </div>
                        <hr/>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<!-- Core theme JS-->
<script src="js/scripts.js"></script>

{% endblock %}
